/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/* Owl Carousel Custom */
.owl-item .hidden {
    visibility:hidden !important;
    display:none;
}

.owl-item {
    position:relative;
}

.owl-item .overlay {
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background:#fff;
    opacity:0.3;
}

.owl-item .carousel-block img, .owl-item .carousel-block {
    width: 100%;
}

.owl-item .carousel-block {
    -webkit-transition:width 0.3s ease-out;
    -moz-transition:width 0.3s ease-out;
    -o-transition:width 0.3s ease-out;
    -ms-transition:width 0.3s ease-out;
    transition:width 0.3s ease-out;
    
}

.owl-item.blurred .carousel-content > p {
    font-size: 20px;
}

.owl-item.blurred .carousel-block {
    width:85%;
    margin:45px auto 0 auto;
    position:relative;
}

.owl-item.blurred .carousel-block a {
    font-size: 32px;
}

@media (min-width: 990px) and (max-width: 1200px) {
    .owl-item.blurred .carousel-block a {
        font-size: 28px;
    }
}


@media (min-width: 768px) and (max-width: 990px) {
    .owl-item.blurred .carousel-block a {
        font-size: 25px;
    }
    .owl-item.blurred .carousel-block p {
        font-size: 15px;
    }
}


@media (max-width: 767px) {
    .owl-item.blurred .carousel-block a {
        font-size: 20px;
    }
    .owl-item.blurred .carousel-block p,
    .owl-item.blurred .carousel-block hr {
        margin-top: 10px;
    }
}